body, html {
    height: 100%;
    background-color: #a5ecd7;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 600px;
    width: 500px;
    background-color: #51adcf;
    border-radius: 10px;
}

.display-container {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-exteriror {
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.display {
    width: 80%;
    text-align: right;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.numpad-container {
    height:77%;
    display: flex;
    justify-content: center;
}

.numpad {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.numbers {
    width: 74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operators {
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.numbers > .btn {
    height: 24%;
    width: 32%;
}

.operators > .btn {
    height: 19%;
    width: 90%;
}