body, html {
    height: 100%;
    background-color: #a5ecd7;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 600px;
    width: 450px;
    background-color: #51adcf;
    border-radius: 10px;
    box-shadow: 12px 12px 5px 10px #0278ae;
}

.display-container {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-exteriror {
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8ffc1;
    border-radius: 10px;
}

.display {
    width: 80%;
    text-align: right;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.numpad-container {
    height:77%;
    display: flex;
    justify-content: center;
}

.numpad {
    height: 360px;
    width: 360px;
    display: flex;
    flex-flow: wrap;
}

.btn {
    flex-basis: 23%;
    border: none;
    box-sizing: border-box;
    margin: 3px;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color: #0278ae;
    background-color: #a5ecd7;
}

.btn:hover {
    transform: scale(1.05);
}

.clear-btn, .back-btn {
    flex-basis: 48%;
}

.op-btn {
    background-color: #41dbf0;
}